/* ============================== Likes Part Start =================================== */
#likes{
    .insta_likes{
        padding: 95px 110px;
        background: #F4F4F4;
        border-radius: 30px;
        .likes_content{
            h3{
                font-weight: 700;
                font-size: 45px;
                line-height: 55px;
                color: #1E1E1E;
                span{
                    display: block;
                }
            }
            h4{
                font-weight: 700;
                font-size: 45px;
                line-height: 55px;
                color: #1E1E1E;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #787878;
            }
        }
    }
}
/* ============================== Likes Part End  =================================== */