/* ============================== Menu Part Start =================================== */
#main_menu{
    padding: 50px 0 0 0 !important;
    .menu_part{
        ul{
            li{
                margin-right: 50px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    @include text(18px,500,$text);
                    line-height: 22px;
                    text-transform: capitalize;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    @include transition();
                    &:hover{
                        color: $hover;
                    }
                    &.active{
                        color: $hover;
                    }
                }
            }
        }
    }
    .right_bar{
        a{
            i{
                font-size: 14px;
                color: $text;
                margin-right: 20px;
            }
            &:hover{
                i{
                    color: $hover;
                }
            }
        }
    }
    .mobile_menu_button{
        display: none;
    }
}
/* ============================== Menu Part End =================================== */

